<h1> Welcome to the Mugshot Index Page </h1>

<% @mugshots.each do |x| %>

  <%= x.first_name %>
  <%= x.last_name %>
  <br /> <br />
<% end %>

<%= link_to 'Edit Mugshot', edit_mugshot_path(@mugshot) %>
<br />
